<div class="carouselContainer">
    {{#each carousel.items}}
		<div class="slides fade">
			<div class="numbertext">
                {{ currentSlide @index }} / {{ ../slides }}
			</div>
			<img src="{{ this.image }}" class="slide">
			<div class="text">
				{{ this.caption }}
			</div>
		</div>
	{{/each}}
</div>



