<div class="lightBoxContainer">
    <div id="lightBoxImage"
            class="lightBoxImage" 
            style="background-image: url('{{product.image}}')">
    </div>
    <div id="lightBoxThumbnailContainer"
            class="lightBoxThumbnailContainer">
    {{#each product.gallery}}
        <div class="lightBoxThumbnail"
            {{!-- {{{createImageId @index}}} --}}
            style="background-image: url('{{this}}')" >
        </div>
    {{/each}}
    </div>
</div>



