<div class="burger-container">
    <div class="burger" onclick="toggleNavPills()">
        <div class="burger-line burger-line-top"></div>
        <div class="burger-line burger-line-middle"></div>
        <div class="burger-line burger-line-bottom"></div>
    </div>
</div>
<div class="navBar" id="navBar">
    {{#each navbar.items}}
    <a class="navPill navLink {{ setVisibility this.visible ../auth }}" href={{this.route}}>
        <div class="material-icons icon">
            {{this.matIcon}}
        </div>
        <div class="iconLabel">
            {{this.caption}}
        </div>
    </a>
    {{/each}}
</div>