.h3 {
    font-size: medium;
    font-weight: medium;
}
.contentContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.col {
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
}
@media only screen and (min-width: 768px) {
    .contentContainer {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col {
        min-width: 50px;
        /* max-width: 45%; */
    }
}