.productContainer{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .productContainer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}