* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: Arial, Verdana, Helvetica, Tahoma, Trebuchet MS, Times New Roman,
        Georgia, Garamond, Courier New, Brush Script MT;
    --themeBgColorLight: #333;
    --themeBgColorDark: #111;
    --themeFColor: #fff;
    --themeBtnMskColor: #454a50;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--themeBgColorLight);
    color: var(--themeFColor);
}
a {
    color: var(--themeFColor);
    text-decoration: none;
}
input {
    width: 100%;
    color: var(--themeFColor);
    border: none;
    background: transparent;
    margin: 5px 0px 0px 0px;
    padding: 5px;
    border-bottom: 1px solid var(--themeBgColorDark);
}

input:focus {
    outline: none;
    /* background-color: var(--themeBgColorlight); */
}

input[type=submit] {
    background-color: var(--themeBtnMskColor);
    color: var(--themeFColor);
    border: none;
    padding: 8px 12px;
}

input[type=submit]:hover {
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.heading {
    text-align: center;
    background-color: var(--themeBgColorDark);
    padding: 10px 0px;
}

li {
    font-size: 2rem;
    width: 300px;
    margin: 4px;
    padding: 4px;
    list-style: none
}

.midlaner {
    background-color: #eeeeee
}

.toplaner {
    background-color: #ffea00
}