<div class="container">
    <div class="pannel">
<<<<<<< Updated upstream
        <form action="/api/auth/signIn" method="POST">
=======
        <form action="api/auth/signIn" method="POST">
>>>>>>> Stashed changes
            <div class="heading">Sign In</div>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <div class="btnBar">
                <input type="submit" id="signIn" name="signIn">
            </div>
        </form>
    </div>
</div>